streamlit==1.11.0
pandas==1.5.3  # Use a newer version compatible with Python 3.11
numpy==1.23.3  # Use a newer version compatible with Python 3.11
confluent_kafka==1.8.2
jsonschema==3.2.0
toml==0.10.2
openpyxl==3.0.9
